@font-face {
  font-family: "el-icon-mp"; /* Project id 1601157 */
  src: url('iconfont.woff2?t=1721110762045') format('woff2'),
       url('iconfont.woff?t=1721110762045') format('woff'),
       url('iconfont.ttf?t=1721110762045') format('truetype');
}

.el-icon-mp,[class^="el-icon-mp"] {
  font-family: "el-icon-mp" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-mppaihang:before {
  content: "\e694";
}

.el-icon-mpxiaoxikuaibao:before {
  content: "\e608";
}

.el-icon-mphuizhirequ:before {
  content: "\e61b";
}

.el-icon-mptuwendaohang:before {
  content: "\e635";
}

.el-icon-mpzhuantishangpin:before {
  content: "\e656";
}

.el-icon-mptupianguanggao1:before {
  content: "\e642";
}

.el-icon-mpfenlei:before {
  content: "\e610";
}

.el-icon-mpbiaoqian:before {
  content: "\e641";
}

.el-icon-mpsousuo-xianxing:before {
  content: "\e8b8";
}

.el-icon-mpshangpin-xianxing:before {
  content: "\e88a";
}

.el-icon-mpicon-:before {
  content: "\e60f";
}

.el-icon-mpshouyelunbotu:before {
  content: "\e628";
}

.el-icon-mprounddown:before {
  content: "\e75c";
}

.el-icon-mpmingxi:before {
  content: "\e775";
}

.el-icon-mptianmaohaoquan:before {
  content: "\e607";
}

.el-icon-mpdaohang:before {
  content: "\e640";
}

.el-icon-mppinleizengjia_o:before {
  content: "\eb7f";
}

.el-icon-mpshangpin:before {
  content: "\e689";
}

.el-icon-mpdingdan:before {
  content: "\e897";
}

.el-icon-mpxiaoshou:before {
  content: "\e623";
}

.el-icon-mpquanshang:before {
  content: "\e69d";
}

.el-icon-mpjichuguanli:before {
  content: "\e627";
}

.el-icon-mpziyuan:before {
  content: "\e618";
}

.el-icon-mpshoucang:before {
  content: "\e603";
}

.el-icon-mp31zhuanfa:before {
  content: "\e604";
}

.el-icon-mpchakan:before {
  content: "\e605";
}

.el-icon-mppinglun:before {
  content: "\e891";
}

.el-icon-mpdianzan:before {
  content: "\e606";
}

.el-icon-mpbaogao1:before {
  content: "\e624";
}

.el-icon-mpxiansuogenjin:before {
  content: "\e69c";
}

.el-icon-mpricheng:before {
  content: "\e626";
}

.el-icon-mpzengjia:before {
  content: "\e889";
}

.el-icon-mpguanbi:before {
  content: "\eca0";
}

.el-icon-mpquan:before {
  content: "\e748";
}

.el-icon-mpshezhi:before {
  content: "\e68f";
}

.el-icon-mpzuzhiqunzu:before {
  content: "\ebd8";
}

.el-icon-mpxiangmu:before {
  content: "\e911";
}

.el-icon-mpico_yuyueguanli_fangjianyuyue:before {
  content: "\e8b9";
}

.el-icon-mpshouye:before {
  content: "\e64f";
}

.el-icon-mpbiaoge:before {
  content: "\e63e";
}

.el-icon-mpzhedie2:before {
  content: "\e620";
}

.el-icon-mpzhedie1:before {
  content: "\e622";
}

.el-icon-mpshenhe:before {
  content: "\e61d";
}

.el-icon-mpjiamengshang:before {
  content: "\e721";
}

.el-icon-mppinpai:before {
  content: "\e7b8";
}

.el-icon-mpshangpinfenlei:before {
  content: "\e634";
}

.el-icon-mpanli:before {
  content: "\e648";
}

.el-icon-mpqiyewenhua:before {
  content: "\e66a";
}

.el-icon-mpshouquan:before {
  content: "\e602";
}

.el-icon-mpshoucang-copy:before {
  content: "\eb00";
}

.el-icon-mpdot:before {
  content: "\e711";
}

.el-icon-mpfanhui:before {
  content: "\e6ff";
}

.el-icon-mparrow-up:before {
  content: "\e743";
}

.el-icon-mparrow-down:before {
  content: "\e7b2";
}

.el-icon-mpdown-arrow:before {
  content: "\e6ed";
}

.el-icon-mpup-arrow:before {
  content: "\e710";
}

.el-icon-mpdownarrow:before {
  content: "\e60b";
}

.el-icon-mpuparrow:before {
  content: "\e621";
}

.el-icon-mpfensi:before {
  content: "\e650";
}

.el-icon-mpshangjiantou:before {
  content: "\e600";
}

.el-icon-mpxiajiantou:before {
  content: "\e601";
}

.el-icon-mpshouji:before {
  content: "\e617";
}

.el-icon-mpdazhuanpan:before {
  content: "\e616";
}

.el-icon-mptag:before {
  content: "\e639";
}

.el-icon-mptags:before {
  content: "\ea2c";
}

.el-icon-mpxinbaniconshangchuan-:before {
  content: "\e614";
}

.el-icon-mpqunfaxinxi:before {
  content: "\e671";
}

.el-icon-mpweixingongzhonghaoguanli:before {
  content: "\e609";
}

.el-icon-mpweixin:before {
  content: "\e685";
}

.el-icon-mpzuoye:before {
  content: "\e80b";
}

.el-icon-mpqueren:before {
  content: "\e722";
}

.el-icon-mpcuowu:before {
  content: "\e663";
}

.el-icon-mpwenjuan:before {
  content: "\e60c";
}

.el-icon-mppdf:before {
  content: "\e60a";
}

.el-icon-mphuiyuan:before {
  content: "\e60e";
}

.el-icon-mpgongsi-:before {
  content: "\e613";
}

.el-icon-mpbiaoqingjihuo:before {
  content: "\e619";
}

.el-icon-mpyemian:before {
  content: "\e615";
}

.el-icon-mpxiaochengxu:before {
  content: "\e73f";
}

.el-icon-mpz:before {
  content: "\e633";
}

.el-icon-mpshipin:before {
  content: "\e64a";
}

.el-icon-mparticle:before {
  content: "\e7e7";
}

.el-icon-mpguanggao:before {
  content: "\e65d";
}

.el-icon-mptuwen:before {
  content: "\eaff";
}

.el-icon-mpsucai:before {
  content: "\e833";
}

.el-icon-mpshipin1:before {
  content: "\e60d";
}

.el-icon-mpquanxian:before {
  content: "\e612";
}

.el-icon-mpjiaose:before {
  content: "\e64d";
}

.el-icon-mpyonghu:before {
  content: "\e629";
}

